In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Basics').getOrCreate()

import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

from pylab import rcParams
from pyspark.sql.functions import avg
import pyspark.sql.functions as f
from pyspark.sql.window import Window #***
from pyspark.sql.functions import sum
from pyspark.sql.functions import format_number

#dataframe of healthcare
df = spark.read.csv('/home/giotanna/Documents/DM_project_2021/healthcare-dataset-stroke-data/healthcare-dataset-stroke-data.csv', inferSchema=True,header=True)

df.show()

df.describe().show()

df.printSchema()

df.groupBy('gender').mean().show()

#gender(Male, Female, Other) that has a stroke
df.groupBy('gender','stroke').mean().show()

#how many people have or not a stroke
df.groupBy('stroke').count().show()

#prople have stroke depended from work
#more are private
df_stroke = df.groupBy('work_type', 'stroke').count().select('stroke','work_type',f.col('count').alias('work_type_count'))
df_stroke = df_stroke.filter(df['stroke'] == 1).select('work_type', 'work_type_count').orderBy(df_stroke['work_type_count'].desc())
df_stroke.show()

#participated in this clinic measurement
#58% Female. 41% Male
df_mes = df.groupBy('gender').count().select('gender',f.col('count').alias('count_gender')).withColumn('percentage_of_gender',(f.col('count_gender') / df.count()) * 100 ).select('gender','count_gender',(format_number('percentage_of_gender',2).alias('percentage_of_gender')))
df_mes.show()


# how many female/male have a stroke
# 2,11% Male. 2,76% Female
df_gen_str_M = df.groupBy('gender', 'stroke').count().select('gender',f.col('count').alias('count_gender')).withColumn('percentage_of_stroke',(f.col('count_gender') / df.count()) * 100 ).filter((df['stroke'] == 1) & (df['gender'] == 'Male')).select('gender','count_gender',(format_number('percentage_of_stroke',2).alias('percentage_of_stroke')))
df_gen_str_M.show()
df_gen_str_F = df.groupBy('gender', 'stroke').count().select('gender',f.col('count').alias('count_gender')).withColumn('percentage_of_stroke',(f.col('count_gender') / df.count()) * 100 ).filter((df['stroke'] == 1) & (df['gender'] == 'Female')).select('gender','count_gender',(format_number('percentage_of_stroke',2).alias('percentage_of_stroke')))
df_gen_str_F.show()

df.distinct().show()

#sort by age 
df_ag = df.groupBy('age','stroke').count().select('age', 'stroke', 'count')
df_ag.show()

#sort by stroke and age > 50
df_age = df.groupBy('age','stroke').count().select('stroke','age',f.col('count').alias('age_count')).withColumn('percentage_of_stroke',(f.col('age_count') / df.count()) * 100 ).filter(df['stroke'] == 1).select('age','age_count',(format_number('percentage_of_stroke',2).alias('percentage_of_stroke')))
df_age = df_age.orderBy(df_age['age_count'].desc())
df_age.show()

df2= spark.sql("SELECT df.age FROM df GROUP BY df.age ")
df2.show()

# calculate the number of stroke cases for people after 50 years 
df.filter((df['stroke'] == 1) & (df['age'] > '50')).count()

#percentage person over 50 and stroke
#4.4 %
df_age_per = ((df.filter((df['stroke'] == 1) & (df['age'] > '50')).count() ) / df.count() ) * 100 
df_age_per

+-----+------+----+------------+-------------+------------+-------------+--------------+-----------------+----+---------------+------+
|   id|gender| age|hypertension|heart_disease|ever_married|    work_type|Residence_type|avg_glucose_level| bmi| smoking_status|stroke|
+-----+------+----+------------+-------------+------------+-------------+--------------+-----------------+----+---------------+------+
| 9046|  Male|67.0|           0|            1|         Yes|      Private|         Urban|           228.69|36.6|formerly smoked|     1|
|51676|Female|61.0|           0|            0|         Yes|Self-employed|         Rural|           202.21| N/A|   never smoked|     1|
|31112|  Male|80.0|           0|            1|         Yes|      Private|         Rural|           105.92|32.5|   never smoked|     1|
|60182|Female|49.0|           0|            0|         Yes|      Private|         Urban|           171.23|34.4|         smokes|     1|
| 1665|Female|79.0|           1|            0|         Yes|Self-employed|         Rural|           174.12|  24|   never smoked|     1|
|56669|  Male|81.0|           0|            0|         Yes|      Private|         Urban|           186.21|  29|formerly smoked|     1|
|53882|  Male|74.0|           1|            1|         Yes|      Private|         Rural|            70.09|27.4|   never smoked|     1|
|10434|Female|69.0|           0|            0|          No|      Private|         Urban|            94.39|22.8|   never smoked|     1|
|27419|Female|59.0|           0|            0|         Yes|      Private|         Rural|            76.15| N/A|        Unknown|     1|
|60491|Female|78.0|           0|            0|         Yes|      Private|         Urban|            58.57|24.2|        Unknown|     1|
|12109|Female|81.0|           1|            0|         Yes|      Private|         Rural|            80.43|29.7|   never smoked|     1|
|12095|Female|61.0|           0|            1|         Yes|     Govt_job|         Rural|           120.46|36.8|         smokes|     1|
|12175|Female|54.0|           0|            0|         Yes|      Private|         Urban|           104.51|27.3|         smokes|     1|
| 8213|  Male|78.0|           0|            1|         Yes|      Private|         Urban|           219.84| N/A|        Unknown|     1|
| 5317|Female|79.0|           0|            1|         Yes|      Private|         Urban|           214.09|28.2|   never smoked|     1|
|58202|Female|50.0|           1|            0|         Yes|Self-employed|         Rural|           167.41|30.9|   never smoked|     1|
|56112|  Male|64.0|           0|            1|         Yes|      Private|         Urban|           191.61|37.5|         smokes|     1|
|34120|  Male|75.0|           1|            0|         Yes|      Private|         Urban|           221.29|25.8|         smokes|     1|
|27458|Female|60.0|           0|            0|          No|      Private|         Urban|            89.22|37.8|   never smoked|     1|
|25226|  Male|57.0|           0|            1|          No|     Govt_job|         Urban|           217.08| N/A|        Unknown|     1|
+-----+------+----+------------+-------------+------------+-------------+--------------+-----------------+----+---------------+------+
only showing top 20 rows

+-------+-----------------+------+------------------+------------------+-------------------+------------+---------+--------------+------------------+------------------+--------------+-------------------+
|summary|               id|gender|               age|      hypertension|      heart_disease|ever_married|work_type|Residence_type| avg_glucose_level|               bmi|smoking_status|             stroke|
+-------+-----------------+------+------------------+------------------+-------------------+------------+---------+--------------+------------------+------------------+--------------+-------------------+
|  count|             5110|  5110|              5110|              5110|               5110|        5110|     5110|          5110|              5110|              5110|          5110|               5110|
|   mean|36517.82935420744|  null|43.226614481409015|0.0974559686888454|0.05401174168297456|        null|     null|          null|106.14767710371804|28.893236911794673|          null| 0.0487279843444227|
| stddev|21161.72162482715|  null| 22.61264672311348| 0.296606674233791|0.22606298750336554|        null|     null|          null| 45.28356015058193|  7.85406672968016|          null|0.21531985698023753|
|    min|               67|Female|              0.08|                 0|                  0|          No| Govt_job|         Rural|             55.12|              10.3|       Unknown|                  0|
|    max|            72940| Other|              82.0|                 1|                  1|         Yes| children|         Urban|            271.74|               N/A|        smokes|                  1|
+-------+-----------------+------+------------------+------------------+-------------------+------------+---------+--------------+------------------+------------------+--------------+-------------------+

root
 |-- id: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- age: double (nullable = true)
 |-- hypertension: integer (nullable = true)
 |-- heart_disease: integer (nullable = true)
 |-- ever_married: string (nullable = true)
 |-- work_type: string (nullable = true)
 |-- Residence_type: string (nullable = true)
 |-- avg_glucose_level: double (nullable = true)
 |-- bmi: string (nullable = true)
 |-- smoking_status: string (nullable = true)
 |-- stroke: integer (nullable = true)

+------+-----------------+-----------------+-------------------+-------------------+----------------------+--------------------+
|gender|          avg(id)|         avg(age)|  avg(hypertension)| avg(heart_disease)|avg(avg_glucose_level)|         avg(stroke)|
+------+-----------------+-----------------+-------------------+-------------------+----------------------+--------------------+
|Female|36479.68503674015|43.75739478957918|0.09218436873747494|0.03774215096860387|    104.05780895123563|0.047094188376753505|
| Other|          56156.0|             26.0|                0.0|                0.0|                143.33|                 0.0|
|  Male|36562.54137115839|42.48338534278962| 0.1049645390070922|0.07706855791962175|     109.0885200945626| 0.05106382978723404|
+------+-----------------+-----------------+-------------------+-------------------+----------------------+--------------------+

+------+------+------------------+-----------------+-------------------+-------------------+----------------------+-----------+
|gender|stroke|           avg(id)|         avg(age)|  avg(hypertension)| avg(heart_disease)|avg(avg_glucose_level)|avg(stroke)|
+------+------+------------------+-----------------+-------------------+-------------------+----------------------+-----------+
|  Male|     1| 37566.67592592593|             68.5|               0.25|0.25925925925925924|    143.15935185185185|        1.0|
| Other|     0|           56156.0|             26.0|                0.0|                0.0|                143.33|        0.0|
|Female|     0| 36465.37889940414|42.60193480546795|0.08307045215562565|0.03294777427269541|    103.05175254118453|        0.0|
|  Male|     0|  36508.5072247135|41.08338814150475|0.09715994020926756|0.06726457399103139|    107.25511210762329|        0.0|
|Female|     1|36769.156028368794|67.13702127659575| 0.2765957446808511| 0.1347517730496454|    124.41439716312063|        1.0|
+------+------+------------------+-----------------+-------------------+-------------------+----------------------+-----------+

+------+-----+
|stroke|count|
+------+-----+
|     1|  249|
|     0| 4861|
+------+-----+

+-------------+---------------+
|    work_type|work_type_count|
+-------------+---------------+
|      Private|            149|
|Self-employed|             65|
|     Govt_job|             33|
|     children|              2|
+-------------+---------------+

+------+------------+--------------------+
|gender|count_gender|percentage_of_gender|
+------+------------+--------------------+
|Female|        2994|               58.59|
| Other|           1|                0.02|
|  Male|        2115|               41.39|
+------+------------+--------------------+

+------+------------+--------------------+
|gender|count_gender|percentage_of_stroke|
+------+------------+--------------------+
|  Male|         108|                2.11|
+------+------------+--------------------+

+------+------------+--------------------+
|gender|count_gender|percentage_of_stroke|
+------+------------+--------------------+
|Female|         141|                2.76|
+------+------------+--------------------+

+-----+------+----+------------+-------------+------------+-------------+--------------+-----------------+----+--------------+------+
|   id|gender| age|hypertension|heart_disease|ever_married|    work_type|Residence_type|avg_glucose_level| bmi|smoking_status|stroke|
+-----+------+----+------------+-------------+------------+-------------+--------------+-----------------+----+--------------+------+
| 5111|Female|54.0|           1|            0|         Yes|     Govt_job|         Urban|           180.93|27.7|  never smoked|     1|
|17004|Female|70.0|           0|            0|         Yes|      Private|         Urban|           221.58|47.5|  never smoked|     1|
|62608|Female|47.0|           0|            0|         Yes|      Private|         Urban|            136.8|37.3|  never smoked|     0|
|13997|  Male|38.0|           0|            0|         Yes|      Private|         Urban|            88.97|30.2|  never smoked|     0|
|25514|  Male|12.0|           0|            0|          No|     children|         Rural|            65.88|23.7|       Unknown|     0|
|37053|  Male|53.0|           0|            0|         Yes|     Govt_job|         Rural|            78.73|23.3|  never smoked|     0|
|45976|  Male|56.0|           0|            0|         Yes|      Private|         Urban|             84.3|22.1|       Unknown|     0|
|61242|Female|41.0|           1|            0|         Yes|     Govt_job|         Rural|            107.5|  54|  never smoked|     0|
|24342|Female|23.0|           0|            0|          No|      Private|         Rural|            112.3|26.6|       Unknown|     0|
| 1924|  Male|54.0|           0|            0|         Yes|      Private|         Rural|            74.06| N/A|  never smoked|     0|
|49972|  Male|63.0|           0|            0|         Yes|Self-employed|         Rural|           216.38|34.5|  never smoked|     0|
| 2885|  Male|72.0|           1|            0|         Yes|      Private|         Rural|           231.71| N/A|       Unknown|     0|
|15601|Female|50.0|           0|            0|         Yes|      Private|         Urban|            93.51|30.9|        smokes|     0|
|13375|  Male|76.0|           0|            0|         Yes|      Private|         Urban|           192.39|  31|  never smoked|     0|
|60117|  Male|30.0|           0|            0|          No|      Private|         Rural|           133.24|28.9|  never smoked|     0|
|22098|Female|29.0|           0|            0|         Yes|Self-employed|         Rural|            69.12|26.8|  never smoked|     0|
| 5496|Female|45.0|           0|            0|         Yes|      Private|         Urban|           202.66| N/A|  never smoked|     0|
|41181|  Male|36.0|           0|            0|         Yes|      Private|         Urban|            77.26|30.9|  never smoked|     0|
|55337|Female| 2.0|           0|            0|          No|     children|         Rural|           126.12|24.8|       Unknown|     0|
| 3013|Female|79.0|           0|            0|         Yes|Self-employed|         Rural|             83.7|28.7|  never smoked|     0|
+-----+------+----+------------+-------------+------------+-------------+--------------+-----------------+----+--------------+------+
only showing top 20 rows

+----+------+-----+
| age|stroke|count|
+----+------+-----+
|34.0|     0|   68|
|82.0|     1|    9|
|48.0|     0|   64|
|51.0|     1|    4|
|70.0|     0|   39|
|71.0|     1|    7|
|61.0|     0|   70|
|69.0|     1|    6|
|43.0|     0|   69|
|57.0|     0|   84|
|49.0|     0|   76|
|15.0|     0|   45|
|50.0|     0|   80|
| 1.0|     0|    5|
|65.0|     1|    3|
|37.0|     0|   76|
|68.0|     0|   38|
|78.0|     1|   21|
|47.0|     1|    1|
|61.0|     1|    6|
+----+------+-----+
only showing top 20 rows

+----+---------+--------------------+
| age|age_count|percentage_of_stroke|
+----+---------+--------------------+
|78.0|       21|                0.41|
|80.0|       17|                0.33|
|79.0|       17|                0.33|
|81.0|       14|                0.27|
|57.0|       11|                0.22|
|76.0|       10|                0.20|
|63.0|        9|                0.18|
|74.0|        9|                0.18|
|68.0|        9|                0.18|
|82.0|        9|                0.18|
|77.0|        8|                0.16|
|59.0|        8|                0.16|
|71.0|        7|                0.14|
|58.0|        7|                0.14|
|70.0|        6|                0.12|
|69.0|        6|                0.12|
|75.0|        6|                0.12|
|54.0|        6|                0.12|
|72.0|        6|                0.12|
|61.0|        6|                0.12|
+----+---------+--------------------+
only showing top 20 rows

AnalysisException: Table or view not found: df; line 1 pos 19;
'Aggregate ['df.age], ['df.age]
+- 'UnresolvedRelation [df], [], false

In [3]:
df.show()

+-----+------+----+------------+-------------+------------+-------------+--------------+-----------------+----+---------------+------+
|   id|gender| age|hypertension|heart_disease|ever_married|    work_type|Residence_type|avg_glucose_level| bmi| smoking_status|stroke|
+-----+------+----+------------+-------------+------------+-------------+--------------+-----------------+----+---------------+------+
| 9046|  Male|67.0|           0|            1|         Yes|      Private|         Urban|           228.69|36.6|formerly smoked|     1|
|51676|Female|61.0|           0|            0|         Yes|Self-employed|         Rural|           202.21| N/A|   never smoked|     1|
|31112|  Male|80.0|           0|            1|         Yes|      Private|         Rural|           105.92|32.5|   never smoked|     1|
|60182|Female|49.0|           0|            0|         Yes|      Private|         Urban|           171.23|34.4|         smokes|     1|
| 1665|Female|79.0|           1|            0|         Yes|Self-employed|         Rural|           174.12|  24|   never smoked|     1|
|56669|  Male|81.0|           0|            0|         Yes|      Private|         Urban|           186.21|  29|formerly smoked|     1|
|53882|  Male|74.0|           1|            1|         Yes|      Private|         Rural|            70.09|27.4|   never smoked|     1|
|10434|Female|69.0|           0|            0|          No|      Private|         Urban|            94.39|22.8|   never smoked|     1|
|27419|Female|59.0|           0|            0|         Yes|      Private|         Rural|            76.15| N/A|        Unknown|     1|
|60491|Female|78.0|           0|            0|         Yes|      Private|         Urban|            58.57|24.2|        Unknown|     1|
|12109|Female|81.0|           1|            0|         Yes|      Private|         Rural|            80.43|29.7|   never smoked|     1|
|12095|Female|61.0|           0|            1|         Yes|     Govt_job|         Rural|           120.46|36.8|         smokes|     1|
|12175|Female|54.0|           0|            0|         Yes|      Private|         Urban|           104.51|27.3|         smokes|     1|
| 8213|  Male|78.0|           0|            1|         Yes|      Private|         Urban|           219.84| N/A|        Unknown|     1|
| 5317|Female|79.0|           0|            1|         Yes|      Private|         Urban|           214.09|28.2|   never smoked|     1|
|58202|Female|50.0|           1|            0|         Yes|Self-employed|         Rural|           167.41|30.9|   never smoked|     1|
|56112|  Male|64.0|           0|            1|         Yes|      Private|         Urban|           191.61|37.5|         smokes|     1|
|34120|  Male|75.0|           1|            0|         Yes|      Private|         Urban|           221.29|25.8|         smokes|     1|
|27458|Female|60.0|           0|            0|          No|      Private|         Urban|            89.22|37.8|   never smoked|     1|
|25226|  Male|57.0|           0|            1|          No|     Govt_job|         Urban|           217.08| N/A|        Unknown|     1|
+-----+------+----+------------+-------------+------------+-------------+--------------+-----------------+----+---------------+------+
only showing top 20 rows