In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('K Nearest Neighbors').getOrCreate()
import pandas as pd

In [2]:
from ipynb.fs.full.questionC import *

+-----+------+----+------------+-------------+------------+-------------+--------------+-----------------+----+------+
|   id|gender| age|hypertension|heart_disease|ever_married|    work_type|Residence_type|avg_glucose_level| bmi|stroke|
+-----+------+----+------------+-------------+------------+-------------+--------------+-----------------+----+------+
|51676|Female|61.0|           0|            0|         Yes|Self-employed|         Rural|           202.21|30.8|     1|
|27419|Female|59.0|           0|            0|         Yes|      Private|         Rural|            76.15|28.3|     1|
| 8213|  Male|78.0|           0|            1|         Yes|      Private|         Urban|           219.84|30.9|     1|
|25226|  Male|57.0|           0|            1|          No|     Govt_job|         Urban|           217.08|28.5|     1|
|61843|  Male|58.0|           0|            0|         Yes|      Private|         Rural|           189.84|30.2|     1|
|69160|  Male|59.0|           0|            0|         Yes|      Private|         Rural|           211.78|30.7|     1|
| 1845|Female|63.0|           0|            0|         Yes|      Private|         Urban|             90.9|29.0|     1|
|37937|Female|75.0|           0|            1|          No|Self-employed|         Urban|           109.78|28.5|     1|
|18587|Female|76.0|           0|            0|          No|      Private|         Urban|            89.96|30.4|     1|
|15102|  Male|78.0|           1|            0|         Yes|      Private|         Urban|            75.32|32.4|     1|
| 8752|Female|63.0|           0|            0|         Yes|     Govt_job|         Urban|           197.54|30.9|     1|
|66400|  Male|78.0|           0|            0|         Yes|      Private|         Urban|           237.75|33.3|     1|
| 7356|  Male|75.0|           0|            0|         Yes|      Private|         Urban|           104.72|30.5|     1|
|70676|Female|76.0|           0|            0|         Yes|     Govt_job|         Rural|            62.57|29.9|     1|
|45805|Female|51.0|           0|            0|         Yes|      Private|         Urban|           165.31|29.0|     1|
|26015|Female|66.0|           0|            0|         Yes|Self-employed|         Urban|           101.45|29.5|     1|
|70042|  Male|58.0|           0|            0|         Yes|      Private|         Urban|             71.2|28.1|     1|
| 2346|  Male|58.0|           0|            0|         Yes|      Private|         Urban|             82.3|28.3|     1|
|36706|Female|76.0|           0|            0|         Yes|Self-employed|         Urban|           106.41|30.7|     1|
|14164|Female|72.0|           0|            0|         Yes|      Private|         Urban|           219.91|32.3|     1|
+-----+------+----+------------+-------------+------------+-------------+--------------+-----------------+----+------+
only showing top 20 rows

In [3]:
# Making a list of missing value types
missing_values = ["N/A", "Unknown"]

#read csv 
df_p = pd.read_csv('healthcare-dataset-stroke-data.csv', na_values = missing_values)
df4 = df_p[['id','gender','age','hypertension','heart_disease','ever_married','work_type','Residence_type','avg_glucose_level','stroke']]

In [4]:
df_p

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,NaN,0

In [5]:
#check for missing values
df_p.isna().any()

id                   False
gender               False
age                  False
hypertension         False
heart_disease        False
ever_married         False
work_type            False
Residence_type       False
avg_glucose_level    False
bmi                   True
smoking_status        True
stroke               False
dtype: bool

In [6]:
#check how many missing values
df_p.isna().sum()

id                      0
gender                  0
age                     0
hypertension            0
heart_disease           0
ever_married            0
work_type               0
Residence_type          0
avg_glucose_level       0
bmi                   201
smoking_status       1544
stroke                  0
dtype: int64

In [7]:
#drop bmi column
df_p.drop(['bmi'], axis='columns', inplace=True)

In [8]:
df_p

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,NaN,0

In [9]:
#change text values to numerical values
# convert each category into a binary data column by assigning a 1 or 0
from sklearn.impute import KNNImputer
cat_variables = df_p[['gender','ever_married','work_type','Residence_type','smoking_status']]

#The “gender_Female” column is dropped since the “drop_first” parameter is set as True. Similarly, there are only 4 columns for “work_type” because the 5 one has been dropped (work_type_Govt_job)
cat_dummies = pd.get_dummies(cat_variables, drop_first=True)
cat_dummies.head()

,gender_Male,gender_Other,ever_married_Yes,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Urban,smoking_status_never smoked,smoking_status_smokes
0,1,0,1,0,1,0,0,1,0,0
1,0,0,1,0,0,1,0,0,1,0
2,1,0,1,0,1,0,0,0,1,0
3,0,0,1,0,1,0,0,1,0,1
4,0,0,1,0,0,1,0,0,1,0

In [10]:
#drop the original ('gender','ever_married','work_type','Residence_type','smoking_status') columns from the data frame and add the dummy variables.

df_p = df_p.drop(['gender','ever_married','work_type','Residence_type','smoking_status'], axis='columns', inplace=True)
df_p = pd.concat([df_p, cat_dummies], axis='columns')
df_p.head()

,gender_Male,gender_Other,ever_married_Yes,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Urban,smoking_status_never smoked,smoking_status_smokes
0,1,0,1,0,1,0,0,1,0,0
1,0,0,1,0,0,1,0,0,1,0
2,1,0,1,0,1,0,0,0,1,0
3,0,0,1,0,1,0,0,1,0,1
4,0,0,1,0,0,1,0,0,1,0

In [11]:
#normalize data : scale our variables to have values between 0 and 1.

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df_p = pd.DataFrame(scaler.fit_transform(df_p), columns = df_p.columns)
df_p.head()

,gender_Male,gender_Other,ever_married_Yes,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Urban,smoking_status_never smoked,smoking_status_smokes
0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
4,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [12]:
#setting the parameter ‘n_neighbors’=5
# the missing values will be replaced by the mean value of 5 nearest neighbors measured by Euclidean distance

from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=5)
df_p = pd.DataFrame(imputer.fit_transform(df_p),columns = df_p.columns)

In [13]:
df_p.isna().any()

gender_Male                    False
gender_Other                   False
ever_married_Yes               False
work_type_Never_worked         False
work_type_Private              False
work_type_Self-employed        False
work_type_children             False
Residence_type_Urban           False
smoking_status_never smoked    False
smoking_status_smokes          False
dtype: bool

In [14]:
#check if our dataframe has missing values 
#checking if they have been imputed as the means of k-Nearest Neighbor values)

df_p.isna().sum()

gender_Male                    0
gender_Other                   0
ever_married_Yes               0
work_type_Never_worked         0
work_type_Private              0
work_type_Self-employed        0
work_type_children             0
Residence_type_Urban           0
smoking_status_never smoked    0
smoking_status_smokes          0
dtype: int64

In [15]:
df_p

,gender_Male,gender_Other,ever_married_Yes,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Urban,smoking_status_never smoked,smoking_status_smokes
0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
4,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...
5105,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
5106,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
5107,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
5108,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
5109,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [16]:
#taking only the columns from smoking_status
df_smoking = df_p[['smoking_status_never smoked','smoking_status_smokes']]
df_smoking.insert(loc=0, column='smoking_status', value='0.0')

In [17]:
df_smoking

     smoking_status  smoking_status_never smoked  smoking_status_smokes
0               0.0                          0.0                    0.0
1               0.0                          1.0                    0.0
2               0.0                          1.0                    0.0
3               0.0                          0.0                    1.0
4               0.0                          1.0                    0.0
...             ...                          ...                    ...
5105            0.0                          1.0                    0.0
5106            0.0                          1.0                    0.0
5107            0.0                          1.0                    0.0
5108            0.0                          0.0                    0.0
5109            0.0                          0.0                    0.0

[5110 rows x 3 columns]

In [18]:
#creating a dataframe with the column of smoking_status like the column in the given dataset
def get_smoking(row):
      for c in df_smoking.columns:
            if row[c]==1:
                return c
df_smoking = df_smoking.apply(get_smoking, axis=1)
df_smoking = pd.DataFrame(df_smoking, columns =['smoking_status'])
df_smoking['smoking_status'] = df_smoking['smoking_status'].map({'smoking_status_never smoked':'never smoked', 'smoking_status_smokes':'smokes'})
df_smoking = df_smoking.fillna('formerly smoked')
df_smoking

       smoking_status
0     formerly smoked
1        never smoked
2        never smoked
3              smokes
4        never smoked
...               ...
5105     never smoked
5106     never smoked
5107     never smoked
5108  formerly smoked
5109  formerly smoked

[5110 rows x 1 columns]

In [19]:
#insert the new column smoking_status
df4['smoking_status'] = df_smoking['smoking_status'].values

<ipython-input-19-4cd09278c114>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['smoking_status'] = df_smoking['smoking_status'].values

In [20]:
healthcare_df.show()

+-----+------+----+------------+-------------+------------+-------------+--------------+-----------------+----+------+
|   id|gender| age|hypertension|heart_disease|ever_married|    work_type|Residence_type|avg_glucose_level| bmi|stroke|
+-----+------+----+------------+-------------+------------+-------------+--------------+-----------------+----+------+
|51676|Female|61.0|           0|            0|         Yes|Self-employed|         Rural|           202.21|30.8|     1|
|27419|Female|59.0|           0|            0|         Yes|      Private|         Rural|            76.15|28.3|     1|
| 8213|  Male|78.0|           0|            1|         Yes|      Private|         Urban|           219.84|30.9|     1|
|25226|  Male|57.0|           0|            1|          No|     Govt_job|         Urban|           217.08|28.5|     1|
|61843|  Male|58.0|           0|            0|         Yes|      Private|         Rural|           189.84|30.2|     1|
|69160|  Male|59.0|           0|            0|         Yes|      Private|         Rural|           211.78|30.7|     1|
| 1845|Female|63.0|           0|            0|         Yes|      Private|         Urban|             90.9|29.0|     1|
|37937|Female|75.0|           0|            1|          No|Self-employed|         Urban|           109.78|28.5|     1|
|18587|Female|76.0|           0|            0|          No|      Private|         Urban|            89.96|30.4|     1|
|15102|  Male|78.0|           1|            0|         Yes|      Private|         Urban|            75.32|32.4|     1|
| 8752|Female|63.0|           0|            0|         Yes|     Govt_job|         Urban|           197.54|30.9|     1|
|66400|  Male|78.0|           0|            0|         Yes|      Private|         Urban|           237.75|33.3|     1|
| 7356|  Male|75.0|           0|            0|         Yes|      Private|         Urban|           104.72|30.5|     1|
|70676|Female|76.0|           0|            0|         Yes|     Govt_job|         Rural|            62.57|29.9|     1|
|45805|Female|51.0|           0|            0|         Yes|      Private|         Urban|           165.31|29.0|     1|
|26015|Female|66.0|           0|            0|         Yes|Self-employed|         Urban|           101.45|29.5|     1|
|70042|  Male|58.0|           0|            0|         Yes|      Private|         Urban|             71.2|28.1|     1|
| 2346|  Male|58.0|           0|            0|         Yes|      Private|         Urban|             82.3|28.3|     1|
|36706|Female|76.0|           0|            0|         Yes|Self-employed|         Urban|           106.41|30.7|     1|
|14164|Female|72.0|           0|            0|         Yes|      Private|         Urban|           219.91|32.3|     1|
+-----+------+----+------------+-------------+------------+-------------+--------------+-----------------+----+------+
only showing top 20 rows

In [21]:
#select bmi from dataframe that filled in with linear regression
bmi_df = healthcare_df.select('bmi')
bmi_df = bmi_df.toPandas()
df4['bmi'] = bmi_df['bmi'].values

<ipython-input-21-21987efd1d04>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['bmi'] = bmi_df['bmi'].values

In [22]:
#the final df (re order the columns) 
df4 = df4[['id', 'gender', 'age','hypertension','heart_disease','ever_married','work_type','Residence_type','avg_glucose_level','smoking_status','bmi','stroke']]
df4

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,smoking_status,bmi,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,formerly smoked,30.800000,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,never smoked,28.300000,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,never smoked,30.900000,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,smokes,28.500000,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,never smoked,30.200000,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,never smoked,18.600000,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,never smoked,40.000000,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,never smoked,30.600000,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,formerly smoked,25.600000,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,formerly smoked,26.200001,0